<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Model Example</title>
</head>
<body>
    <h1>Introduïu els valors que vols:</h1>
    <form method="post" action="/predict">
        Amplada petal: <input type="text" name="amplada_value" required><br/>
        Longitud petal: <input type="text" name="longitud_value" required><br/>
        Model: <select name="modelo">
        <option value="regresion">Regressió logística</option>
        <option value="decision">Decision Tree</option>
        <option value="knn">KNN</option>
        <option value="svm">SVM</option>
        </select><br/>
        <button type="submit">Prediu</button>
    </form>
</body>
</html>
